ParkingSystem.Api/bin
ParkingSystem.Api/obj
ParkingSystem.Client/bin
ParkingSystem.Client/obj
ParkingSystem.Api.Tests/bin
ParkingSystem.Api.Tests/obj
ParkingSystem.Api/obj
ParkingSystem.Api.Tests/obj
ParkingSystem.Client/obj
